<section>
  <div class="container shadow-lg rounded mb-5 mt-5">
    <div class="container">
      <div class="row">
        <div class="d-flex justify-content-evenly">
          <div
            class="card text-dark bg-primary mt-5 mb-3 p-5 bg-opacity-25 shadow card-work"
            style="max-width: 18rem"
          >
            <div class="card-body">
              <h5 class="card-title">Total Revenue</h5>
              <p class="card-text text-center" style="font-size: 2rem">
                ₹ <%=totalRevenue %>
              </p>
            </div>
          </div>
          <div
            class="card text-dark bg-secondary mt-5 mb-3 p-5 bg-opacity-25 shadow card-work"
            style="max-width: 18rem"
          >
            <div class="card-body">
              <h5 class="card-title">Total Orders</h5>
              <p class="card-text text-center" style="font-size: 2rem">
                <%=totalOrders %>
              </p>
            </div>
          </div>
          <div
            class="card text-dark bg-success mt-5 mb-3 p-5 bg-opacity-25 shadow card-work"
            style="max-width: 18rem"
          >
            <div class="card-body">
              <h5 class="card-title">Total Users</h5>
              <p class="card-text text-center" style="font-size: 2rem">
                <%=totalUsers %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row p-5 text-center">
        <div class="col card h-25 card-work" style="margin-right: 50px">
          <div class="card-body">
            <h1 class="p-2" style="color: rgb(255, 99, 132)">Orders /day</h1>
            <canvas id="userChart"></canvas>
          </div>
        </div>
        <div class="col card card-work">
          <div class="card-body" style="margin-left: 50px">
            <h1 class="p-2" style="color: rgb(255, 99, 132)">Top Sellers</h1>
            <canvas id="salesChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- orders -->
  <div class="container shadow-lg rounded pb-2 pt-2 mb-5">
    <div class="row d-flex pb-2">
      <i class="fa-solid fa-bag-shopping fa-4x"
        ><span style="font-size: 30%" class="ps-1">orders</span></i
      >
    </div>
    <table
      class="table table-fluid table-hover table-bordered mt-5 pt-2"
      id="pdfTable"
    >
      <!-- style="text-align: center" -->
      <thead>
        <tr class="bg-dark text-white">
          <th scope="col" style="text-align: center">No</th>
          <th scope="col" style="text-align: center">Date</th>
          <th scope="col" style="text-align: center">Address</th>
          <th scope="col" style="text-align: center">Total Amount</th>
          <th scope="col" style="text-align: center">Payment</th>
          <th scope="col" style="text-align: center">Status</th>
          <!-- <th scope="col" style="text-align: center">View</th> -->
        </tr>
      </thead>
      <% var No=1 %>
      <tbody style="text-align: center">
        <% locals.orders.forEach(order=>{%>
        <tr>
          <th scope="row"><%=No++ %></th>

          <td><%=order.date %></td>
          <td>
            <%=order.deliveryDetails.address%>, pin:
            <%=order.deliveryDetails.pincode %>, ph:
            <%=order.deliveryDetails.mobile %>
          </td>
          <td>₹ <%=order.totalAmount %></td>
          <td><%=order.paymentMethod %></td>
          <td><%=order.status %></td>

          <!-- <td><=order.status %><i class="fa-solid fa-spinner ps-1"></i></td> -->
          <!-- <td>
              <a
                href="/viewOrderProducts/<=order._id%>"
                class="btn btn-outline-dark removeProduct"
                ><i class="fa-solid fa-eye"></i
              ></a>
            </td> -->
        </tr>
        <%})%>
      </tbody>
    </table>
  </div>
</section>

<script>
  // user datas
  const orderData = {
    labels: [
      "<%=ordersDate[4]._id%>",
      "<%=ordersDate[3]._id%>",
      "<%=ordersDate[2]._id%>",
      "<%=ordersDate[1]._id%>",
      "<%=ordersDate[0]._id%>",
    ],
    datasets: [
      {
        label: "Orders",
        backgroundColor: "rgb(255, 99, 132)",
        borderColor: "rgb(255, 99, 132)",
        data: [
          "<%=ordersDate[4].count%>",
          "<%=ordersDate[3].count%>",
          "<%=ordersDate[2].count%>",
          "<%=ordersDate[1].count%>",
          "<%=ordersDate[0].count%>",
        ],
      },
    ],
  };

  const configLineGraph = {
    type: "line",
    data: orderData,
    options: {},
  };

  const userChart = new Chart(
    document.getElementById("userChart"),
    configLineGraph
  );

  //top5Products
  const salesData = {
    labels: [
      "<%=topSellers[0].Name%>",
      "<%=topSellers[1].Name%>",
      "<%=topSellers[2].Name%>",
      "<%=topSellers[3].Name%>",
      "<%=topSellers[4].Name%>",
    ],
    datasets: [
      {
        label: "Sales in last month",
        data: [
          "<%=topSellers[0].sales%>",
          "<%=topSellers[1].sales%>",
          "<%=topSellers[2].sales%>",
          "<%=topSellers[3].sales%>",
          "<%=topSellers[4].sales%>",
        ],
        backgroundColor: [
          "rgb(255, 99, 132)",
          "rgb(54, 162, 235)",
          "rgb(255, 205, 86)",
          "rgb(35, 205, 130)",
          "rgb(200, 205, 130)",
        ],
        hoverOffset: 4,
      },
    ],
  };

  const configDoughnut = {
    type: "doughnut",
    data: salesData,
  };
  const salesChart = new Chart(
    document.getElementById("salesChart"),
    configDoughnut
  );
</script>
