<section>
  <div
    class="container mt-5 bg-dark text-white w-75 m-auto mb-5"
    style="border-radius: 25px"
  >
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <div>&nbsp;</div>
        <h2 class="text-center">Update Product</h2>
        <form
          action="/admin/edit-product/<%=product._id%>"
          method="post"
          enctype="multipart/form-data"
        >
          <label for="">Name</label>
          <input
            type="text"
            name="Name"
            class="form-control"
            value="<%=product.Name%>"
          />

          <label for="" class="mt-2">Category</label>
          <select class="form-select" name="Category">
            <option hidden><%=product.Category%></option>
            <option>Men</option>
            <option>Women</option>
          </select>

          <label for="" class="mt-2">Sub-Category</label>
          <select class="form-select" name="Subcategory">
            <option hidden><%=product.Subcategory%></option>
            <option>Shirt</option>
            <option>T-shirt</option>
            <option>Hoodie</option>
            <option>Skirt</option>
            <option>Gown</option>
            <option>Kurti</option>
          </select>

          <label for="" class="mt-2">Price</label>
          <input
            type="number"
            name="Price"
            class="form-control"
            value="<%=product.Price%>"
          />

          <label for="" class="mt-2">Description</label>
          <input
            type="text"
            name="Description"
            class="form-control"
            value="<%=product.Description%>"
          />

          <label for="" class="mt-2">Quantity</label>
          <input
            type="text"
            name="Quantity"
            class="form-control"
            value="<%=product.Quantity%>"
          />

          <% const id1 = product._id %> <% const id2 = product._id+"a" %> <%
          const id3 = product._id+"b" %> <% const id4 = product._id+"c" %>

          <!-- <label for="" class="mt-2">Image</label> -->
          <div class="d-flex justify-content-evenly">
            <img
              src="/users/productImages/<%= id1  %>.jpg"
              alt="Image"
              style="width: 100px; height: auto"
              class="rounded p-1"
              id="imgView1"
            />
            <img
              src="/users/productImages/<%= id2  %>.jpg"
              alt="Image"
              style="width: 100px; height: auto"
              class="rounded p-1"
              id="imgView2"
            />
            <img
              src="/users/productImages/<%= id3  %>.jpg"
              alt="Image"
              style="width: 100px; height: auto"
              class="rounded p-1"
              id="imgView3"
            />
            <img
              src="/users/productImages/<%= id4  %>.jpg"
              alt="Image"
              style="width: 100px; height: auto"
              class="rounded p-1"
              id="imgView4"
            />
          </div>
          <input
            type="file"
            name="Image1"
            class="form-control"
            onchange="viewImage1(event)"
          />
          <input
            type="file"
            name="Image2"
            class="form-control mt-3"
            onchange="viewImage2(event)"
          />
          <input
            type="file"
            name="Image3"
            class="form-control mt-3"
            onchange="viewImage3(event)"
          />
          <input
            type="file"
            name="Image4"
            class="form-control mt-3"
            onchange="viewImage4(event)"
          />

          <button type="submit" class="btn btn-success mt-4">Submit</button>
          <div>&nbsp;</div>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  function viewImage1(event) {
    document.getElementById("imgView1").src = URL.createObjectURL(
      event.target.files[0]
    );
  }
  function viewImage2(event) {
    document.getElementById("imgView2").src = URL.createObjectURL(
      event.target.files[0]
    );
  }
  function viewImage3(event) {
    document.getElementById("imgView3").src = URL.createObjectURL(
      event.target.files[0]
    );
  }
  function viewImage4(event) {
    document.getElementById("imgView4").src = URL.createObjectURL(
      event.target.files[0]
    );
  }
</script>
