<section>
  <div
    class="container mt-5 bg-dark text-white w-50 m-auto mb-5"
    style="border-radius: 25px"
  >
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <div>&nbsp;</div>
        <h2 class="text-center">Update Product</h2>
        <form
          action="/admin/edit-product/<%= product._id  %>"
          method="post"
          enctype="multipart/form-data"
        >
          <label for="">Name</label>
          <input
            type="text"
            name="Name"
            class="form-control"
            value="<%= product.Name  %> "
          />

          <label for="" class="mt-2">Category</label>
          <select class="form-select" name="Category">
            <option hidden><%= product.Category %></option>
            <option>Men</option>
            <option>Women</option>
          </select>

          <label for="" class="mt-2">Sub-Category</label>
          <select class="form-select" name="Subcategory">
            <option hidden><%= product.Subcategory %></option>
            <option>Shirt</option>
            <option>T-shirt</option>
            <option>Hoodie</option>
            <option>Skirt</option>
            <option>Gown</option>
            <option>Kurti</option>
          </select>

          <label for="" class="mt-2">Price</label>
          <input
            type="text"
            name="Price"
            class="form-control"
            value="<%= product.Price  %> "
          />

          <label for="" class="mt-2">Description</label>
          <input
            type="text"
            name="Description"
            class="form-control"
            value="<%= product.Description  %> "
          />

          <!-- <label for="" class="mt-2">Image</label> -->
          <img
            src="/users/productImages/<%= product._id  %>.jpg"
            alt="Image"
            style="width: 100px; height: auto"
            class="rounded p-1"
            id="imgView"
          />
          <input
            type="file"
            name="Image"
            class="form-control"
            multiple
            onchange="viewImage(event)"
          />

          <button type="submit" class="btn btn-success mt-4">Submit</button>
          <div>&nbsp;</div>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  function viewImage(event) {
    document.getElementById("imgView").src = URL.createObjectURL(
      event.target.files[0]
    );
  }
</script>
