<section>
  <div class="container shadow-lg rounded mb-5">
    <div class="row mt-4">
      <div class="d-flex flex-row-reverse">
        <div>
          <a href="/admin/add-product" class="btn btn-outline-success m-3"
            >Add Product</a
          >
        </div>
      </div>
    </div>
    <table
      class="table table-fluid table-hover table-bordered mt-5 pt-2"
      id="myTable"
    >
      <!-- style="text-align: center" -->
      <thead>
        <tr class="bg-dark text-white">
          <th scope="col" style="text-align: center">No</th>
          <th scope="col" style="text-align: center">Title</th>
          <th scope="col" style="text-align: center">Price</th>
          <th scope="col" style="text-align: center">Category</th>
          <th scope="col" style="text-align: center">Sub Category</th>
          <th scope="col" style="text-align: center">Description</th>
          <th scope="col" style="text-align: center">Image</th>
          <th scope="col" style="text-align: center">Edit/Delete</th>
        </tr>
      </thead>
      <% var No=1 %>
      <tbody style="text-align: center">
        <% locals.products.forEach(product=>{%>
        <tr>
          <th scope="row"><%=No++ %></th>
          <td><%=product.Name %></td>
          <td><%=product.Price %></td>
          <td><%=product.Category %></td>
          <td><%=product.Subcategory %></td>
          <td><%=product.Description %></td>
          <td>
            <img
              style="width: 40px; height: 50px"
              src="/users/productImages/<%=product._id %>.jpg "
              alt=""
            />
            %>
          </td>
          <td>
            <a
              href="/admin/edit-product/<%=product._id %>"
              class="btn btn-outline-primary"
              >Edit</a
            >
            <a
              href="/admin/delete-product/<%=product._id %>"
              class="btn btn-outline-danger"
              onclick="return confirm('Do you want to delete <%=product.Name %> ?')"
              >Delete</a
            >
          </td>
        </tr>
        <%})%>
      </tbody>
    </table>
  </div>
</section>
