<section class="page-fill" style="background-color: #eaddbf">
  <div style="padding-top: 5%; ">
    <!-- padding-bottom: 5%; -->
    <div class="container shadow-lg rounded pb-2 pt-2">
      <div class="row d-flex pb-2"><i class="fa-solid fa-cart-shopping fa-4x" ><span style="font-size: 30%;" >cart</span></i></div>
        <table
          class="table table-fluid table-hover table-bordered mt-5 pt-2"
          id="myTable"
        >
          <!-- style="text-align: center" -->
          <thead>
            <tr class="bg-dark text-white">
              <th scope="col" style="text-align: center">No</th>
              <th scope="col" style="text-align: center">Item</th>
              <th scope="col" style="text-align: center">Title</th>
              <th scope="col" style="text-align: center">Price</th>
              <th scope="col" style="text-align: center">Quantity</th>
              <th scope="col" style="text-align: center">Remove</th>
            </tr>
          </thead>
          <% var No=1 %>
          <tbody style="text-align: center">
            <% locals.products.forEach(cartItem=>{%>
            <tr>
              <th scope="row"><%=No++ %></th>
              
                <td>
                  <img
                    style="width: 40px; height: 50px"
                    src="/users/productImages/<%=cartItem.product._id %>.jpg "
                    alt=""
                  />
                </td>
                <td><%=cartItem.product.Name %></td>
                <td><%=cartItem.product.Price %> ₹</td>
              
              <td><button class="card-item-count btn btn-outline-secondary m-1" onclick="changeCartQuantity('<%=cartItem._id%>','<%=cartItem.product._id %>','<%=user._id%>',-1)"><i class="fa-solid fa-minus"></i><button class="btn btn-outline-dark m-1" id="<%=cartItem.product._id %>"><%=cartItem.quantity %><button class="card-item-count btn btn-outline-secondary m-1" onclick="changeCartQuantity('<%=cartItem._id%>','<%=cartItem.product._id %>','<%=user._id%>',1)"><i class="fa-solid fa-plus"></i>
              </button></td>
              <td>
                <a
                  href="/removeCartProduct/<%=cartItem._id%>/<%=cartItem.product._id %>"
                  class="btn btn-outline-danger removeProduct"
                  ><i class="fa-solid fa-trash"></i></a>
                <!-- <button
                  class="btn btn-outline-danger removeProduct" onclick="removeCartProduct('<=cartItem._id%>','<=cartItem.product._id %>')"
                  ><i class="fa-solid fa-trash"></i></button> -->
              </td>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div>
  </div>
  <hr class="me-5 ms-5 mt-3">
 <% if(locals.totalAmount!=0) {%> 
  <div class="container">
    <div class="row d-flex flex-row-reverse">
      <div class="col-md-2 col-sm-3 card text-center pt-1 shadow-sm" style="background-color: #eaddbf">
        <h4>Total : <span id="total"><%=totalAmount  %></span>  ₹</h4>
        <a href="/placeOrder" class="btn btn-outline-success mb-2">Place Order</a>
     </div>
    </div>
   </div>
  <% } %> 
</section>

<!-- onclick="return confirm('Do you want to delete product.Name ?')" -->

<script>
  $(".removeProduct").on("click", function (e) {
    e.preventDefault();
    var self = $(this);
    console.log(self.data("title"));
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, remove it!",
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire("Deleted!", ` Product has been removed`, "success");
        location.href = self.attr("href");
      }
    });
  });
</script>

<script>
  function changeCartQuantity(cartId,proId,userId,count){
     let quantity=parseInt(document.getElementById(proId).innerHTML)
     count=parseInt(count)

    $.ajax({
      url:'/changeCartProductQuantity',
      data:{
        user:userId,
        cart:cartId,
        product:proId,
        count:count,
        quantity:quantity
      },
      method:'post',
      success:(response)=>{
        if(response.response.removeProduct){
          let timerInterval
Swal.fire({
  title: 'Removing product from cart',
  html: 'Removing in <b></b> milliseconds.',
  timer: 500,
  background: "#ded2af",
  timerProgressBar: true,
  didOpen: () => {
    Swal.showLoading()
    const b = Swal.getHtmlContainer().querySelector('b')
    timerInterval = setInterval(() => {
      b.textContent = Swal.getTimerLeft()
    }, 100)
  },
  willClose: () => {
    clearInterval(timerInterval)
  }
}).then((result) => {
  /* Read more about handling dismissals below */
  if (result.dismiss === Swal.DismissReason.timer) {
    console.log('I was closed by the timer')
  }
})
          location.reload();
        }else{
          document.getElementById(proId).innerHTML=quantity+count
          document.getElementById("total").innerHTML=response.total
        }
      }
    })
  }
</script>

<!-- <script>

  function removeCartProduct(cartId,proId){
    $.ajax({
    url:"/removeCartProduct",
    data:{
      cart:cartId,
      product:proId,
    },
    method:'post',
    success:(response)=>{

    }

  })

  }
 
</script> -->
