<!-- carousel -->
<section class="page-fill pb-2" style="background-color: #ece6d9">
  <!-- products -->
  <div class="container-fluid" style="padding-top: 5%">
    <div class="container card" style="background-color: #eae2d1">
      <div class="row pt-2 d-flex">
        <div class="col"><h4>OrderId : <%=order._id %></div>
        <div class="col text-end">
          <div>
            <% if (order.status!= "Cancelled"&&order.status!="Shipped"&&order.status!="Delivered"&&order.status !== "Refund complete") { %> 
              <% if (order.status == "Cancel requested"||order.status == "Cancelled") {%>
                <button class="btn btn-outline-danger"><%=order.status  %> </button>
                <% } else {%> 
              <button class="btn btn-outline-danger" id="cancel" onclick="cancelOrder('<%=order._id %>','<%=order.deliveryDetails.mobile%>')">Cancel Order</button>
              <% } %> 
              <% } %>
              <% if (order.status == "Delivered"){ %> 
                <button class="btn btn-outline-danger" id="cancel" onclick="returnOrder('<%=order._id %>','<%=order.deliveryDetails.mobile%>')">Return Order</button>
                <% } %> 
          </div>
        </div>
        <div class="pb-2"></div>
        <hr />
      </div>
      <div class="row">
        <div class="col">
          <p><b>Date : </b><%=order.date %></p>
          <p>
            <b>Address : </b><%=order.deliveryDetails.address%>,
            <%=order.deliveryDetails.pincode %>, <%=order.deliveryDetails.mobile
            %>
          </p>
          <p><b>Total Amount : </b><%=order.totalAmount %> ₹</p>
          <p><b>Status : </b><%=order.status %></p>
        </div>
      </div>
      <div class="row d-flex">
        <% locals.products.forEach(orderProduct=>{%>
        <div class="col-md-3 col-sm-6 p-3 d-flex justify-content-center">
          <div class="card card-work shadow rounded" style="width: 16rem">
            <div>
              <a href="/singleProduct/<%= orderProduct.product._id %>">
                <img
                  width="10"
                  src="/users/productImages/<%= orderProduct.product._id %>.jpg"
                  class="card-img-top"
                  alt="image"
                />
              </a>
            </div>
            <div class="card-body" style="background-color: #ede2c8">
              <h5 class="card-title"><%= orderProduct.product.Name %></h5>
              <p class="card-text">
                Price / unit : <%= orderProduct.product.OfferPrice %> ₹
              </p>
              <p class="card-text">Quantity : <%= orderProduct.quantity %></p>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</section>
<script
  text="text/javascript"
  src="/users/javascript/countIncrement.js"
></script>

<script>
  function cancelOrder(orderId,mobile){
    console.log(orderId)
    Swal.fire({
  title: 'Are you sure?',
  text: `Do you want to cancel the order with OrderId : ${orderId}`,
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes!'
}).then((result) => {
  if (result.isConfirmed) {
    $.ajax({
      url:'/cancelOrder',
      data:{
        orderId:orderId,
        mobile:mobile
      },
      method:"post",
      success:(response)=>{
        document.getElementById("cancel").innerHTML = "Cancel requested";
        Swal.fire(
      'Request send!',
      'Wait for confirmation',
      'success'
    )
      }
    })
  }
})
  }
</script>

<script>
  function returnOrder(orderId,mobile){
    console.log(orderId)
    Swal.fire({
  title: 'Are you sure?',
  text: `Do you want to return the order with OrderId : ${orderId}`,
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes!'
}).then((result) => {
  if (result.isConfirmed) {
    Swal.fire({
      title: "Reason for return",
      html: `<input type="text" id="subject" class="swal2-input" placeholder= "Subject">
      <textarea id="description" class="swal2-input" placeholder= "Type a detailed reason for return" rows="20" cols="25"></textarea>`,
      confirmButtonText: "Send",
      focusConfirm: false,
      preConfirm: () => {
        const subject = Swal.getPopup().querySelector("#subject").value;
        const description = Swal.getPopup().querySelector("#description").value;

        let validateDescription = (description) => {
          return String(description)
            .toLowerCase()
            .match(/^[\w_ ]{10,}$/);
        };

        let validateSubject = (subject) => {
          return String(subject)
            .toLowerCase()
            .match(/^[\w_ ]{3,}$/);
        };

        const checkSubject = validateSubject(subject);
        const checkDescription = validateDescription(description);
        console.log(checkSubject)
        console.log(checkDescription)

        if (!checkSubject || !checkDescription) {
          Swal.showValidationMessage(`Enter subject and a brief description`);
        }else{
          $.ajax({
            url: "/returnOrder",
            data: {
              subject,
              description,
              orderId,
              mobile,
            },
            method: "post",
            success: (response) => {
            }
          })
        }
          }
        });
  }
})
  }
</script>
