<section class="page-fill" style="background-color: #ece6d9">
  <div class="container" style="padding-top: 5%; padding-bottom: 5%">
    <form id="checkout-form">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="card col-md-7 col-sm-12 shadow-sm m-3">
          <div class="d-flex justify-content-between">
            <div>
              <h2 class="mt-2">Delivery Details</h2>
            </div>
            <!-- Example split danger button -->
            <div class="btn-group h-25 mt-2">
              <button type="button" class="btn btn-secondary">
                Choose Address
              </button>
              <button
                type="button"
                class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <% let addr =0 %> <% user.addresses.forEach((address)=>{%>
                <li class="p-2">
                  <a
                    onclick="showAddress('<%=address.house %>', '<%=address.street %>', '<%=address.district %>',
                    '<%=address.state %>', '<%=address.pincode %>','<%=address.mobile %>')"
                    style="cursor: pointer"
                    ><%= ++addr %>: <%=address.house %>, <%=address.street %>,
                    <%=address.district %>, <%=address.state %>, pin:
                    <%=address.pincode %>, ph: <%=address.mobile %>
                    <li><hr class="dropdown-divider" /></li>
                  </a>
                </li>
                <% }) %>
              </ul>
            </div>
          </div>
          <br />
          <div>
            <!-- <textarea
              class="form-control mb-2"
              id="address"
              name="address"
              cols="20"
              rows="5"
              placeholder="Address"
              style="background-color: #dbdbdb"
              required
            ></textarea> -->
            <div class="d-flex">
              <input
                class="form-control mb-2 me-1"
                id="house"
                name="house"
                placeholder="House"
                type="text"
                style="background-color: #eeeeee"
                required
              />
              <input
                class="form-control mb-2 ms-1"
                id="street"
                name="street"
                placeholder="Street"
                type="text"
                style="background-color: #eeeeee"
                required
              />
            </div>
            <div class="d-flex">
              <select
                class="form-select mb-2 me-1"
                name="district"
                id="district"
                aria-label="Default select example"
                style="background-color: #eeeeee"
              >
                <option>Thiruvananthapuram</option>
                <option>Kollam</option>
                <option>Pathanamthitta</option>
                <option>Alappuzha</option>
                <option>Kottayam</option>
                <option>Idukki</option>
                <option>Ernakulam</option>
                <option>Thrissur</option>
                <option>Palakkad</option>
                <option>Malappuram</option>
                <option>Kozhikode</option>
                <option>Wayanad</option>
                <option>Kannur</option>
                <option>Kasargod</option>
              </select>
              <input
                class="form-control mb-2 ms-1"
                id="state"
                name="state"
                placeholder="State"
                type="text"
                style="background-color: #eeeeee"
                required
              />
            </div>
            <input
              type="text"
              name="userId"
              id="userId"
              class=""
              value="<%=user._id  %>"
              hidden
            />
            <input
              class="form-control mb-2"
              id="pincode"
              name="pincode"
              placeholder="Pincode"
              type="number"
              style="background-color: #eeeeee"
              required
            />
            <input
              class="form-control mb-2"
              id="mobile"
              name="mobile"
              placeholder="Mobile"
              type="number"
              style="background-color: #eeeeee"
              required
            />
            <div class="text-end mb-2">
              <a
                class="btn btn-outline-success text-end"
                onclick="saveAddress()"
              >
                Save address
              </a>
            </div>
          </div>
        </div>
        <div
          class="card col-md-4 col-sm-12 shadow-sm d-flex justify-content-center align-items-center m-3"
        >
          <div class="container mt-5 checkout mb-3">
            <div id="total" hidden><%=totalAmount %></div>
            <h5>Total Amount : ₹ <%=totalAmount %></h5>
            <hr style="width: 75%; text-align: left; margin-left: 0" />
            <div class="payment">
              <p>Payment method</p>
              <label class="radio-inline">
                <input
                  type="radio"
                  name="paymentMethod"
                  value="COD"
                  checked
                /><img
                  src="/users/images/logos/cod.jpg"
                  width="80"
                  alt="Razorpay"
                />
              </label>
              <label class="radio-inline">
                <input type="radio" name="paymentMethod" value="RAZORPAY" />
                <img
                  src="/users/images/logos/razorpay1.jpg"
                  width="80"
                  alt="Razorpay"
                />
              </label>
              <label class="radio-inline">
                <input type="radio" name="paymentMethod" value="PAYPAL" /><img
                  src="/users/images/logos/payapal.jpg"
                  width="80"
                  alt="Paypal"
                />
              </label>
            </div>
            <hr style="width: 75%; text-align: left; margin-left: 0" />
            <h5>Available Coupons</h5>
            <div class="d-flex">
              <div class="me-2">
                <select
                  class="form-select"
                  aria-label="Default select example"
                  id="couponValue"
                  name="coupon"
                >
                  <option value="0" selected>Coupons</option>
                  <% locals.coupons.forEach((coupon)=>{ %> <% if
                  (totalAmount>=coupon.limit) {%>
                  <option value="<%=coupon.discount%>">
                    <%=coupon.name %>
                  </option>
                  <% } %> <% }) %>
                </select>
              </div>
              <div>
                <a class="btn btn-outline-success" onclick="redeemCoupon()"
                  >Redeem</a
                >
              </div>
            </div>
            <h6 class="text-success" id="couponPrice"></h6>
            <h6 class="text-danger" id="used"></h6>
            <h3 id="grandTotal" class="text-success"></h3>
            <div id="paypal-button-container" style="display: none"></div>
            <div id="order-Id" hidden></div>
            <div id="phone" hidden></div>
            <div class="mt-2 d-flex flex-row-reverse">
              <button type="submit" class="btn btn-outline-primary">
                Checkout
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- Replace "test" with your own sandbox Business account app client ID -->
<script src="https://www.paypal.com/sdk/js?client-id=AZVI52SU6FbyuNCHmI5Z7tXB9uZQRCMY4ZecBk-bIfYqdnvYx9tpnehTThfn7G8vLb-vfPmKWvscyM0g&currency=USD"></script>
<!-- Set up a container element for the button -->
<!-- <div id="paypal-button-container"></div> -->
<script>
  paypal
    .Buttons({
      style: {
        color: "blue",
        shape: "pill",
        label: "pay",
        height: 40,
      },
      // Order is created on the server and the order id is returned
      createOrder: (data, actions) => {
        let total = document.getElementById("total").innerHTML;
        let coupon = document.getElementById("couponValue").value;
        total = parseInt(total) - parseInt(coupon);
        // console.log("This is the total " + total);
        return fetch(`/paypal/${total}`, {
          method: "post",
          // use the "body" param to optionally pass additional order information
          // like product ids or amount
        })
          .then((response) => response.json())
          .then((order) => order.id);
      },

      // Finalize the transaction on the server after payer approval
      onApprove: (data, actions) => {
        return fetch(`/paypal/${data.orderID}/capture`, {
          method: "post",
        })
          .then((response) => response.json())
          .then((orderData) => {
            // Successful capture! For dev/demo purposes:
            console.log(
              "Capture result",
              orderData,
              JSON.stringify(orderData, null, 2)
            );
            const transaction =
              orderData.purchase_units[0].payments.captures[0];

            let saveRes = "";
            async function statusPlaced() {
              const orderId = document.getElementById("order-Id").innerHTML;
              const mobile = document.getElementById("phone").innerHTML;
              const status = "Placed";
              if (transaction.id) {
                saveRes = await fetch("/admin/setStatus", {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/JSON",
                  },
                  body: JSON.stringify({ status, orderId, mobile }),
                });
              }
              if (saveRes) {
                window.location.href = window.location.origin + "/orders";
              }
            }
            statusPlaced();
            // alert(
            //   `Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`
            // );
            // When ready to go live, remove the alert and show a success message within this page. For example:
            // const element = document.getElementById('paypal-button-container');
            // element.innerHTML = '<h3>Thank you for your payment!</h3>';
            // Or go to another URL:  actions.redirect('thank_you.html');
          });
      },
    })
    .render("#paypal-button-container");
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
></script>
<script
  text="text/javascript"
  src="/users/javascript/placeOrderValidation.js"
></script>

//
<!-- <script>
//   $("#checkout-form").submit((e) => {
//     e.preventDefault();
//     $.ajax({
//       url: "/placeOrder",
//       method: "post",
//       data: $("#checkout-form").serialize(),
//       success: (response) => {
//         alert(response);
//       },
//     });
//   });
// </script> -->

//
<!-- witten in placeOrderValidation.js -->
//
<!-- all handling done inside placeOrderValidation.js -->

<script>
  function saveAddress() {
    const house = document.getElementById("house").value;
    const street = document.getElementById("street").value;
    const district = document.getElementById("district").value;
    const state = document.getElementById("state").value;
    const pincode = document.getElementById("pincode").value;
    const mobile = document.getElementById("mobile").value;
    const userId = document.getElementById("userId").value;
    console.log(house, street, district, state, pincode, mobile, userId);
    $.ajax({
      url: "/saveAddress",
      data: {
        house: house,
        street: street,
        district: district,
        state: state,
        pincode: pincode,
        mobile: mobile,
        userId: userId,
      },
      method: "post",
      success: (response) => {
        console.log(response);
        var toastMixin = Swal.mixin({
          toast: true,
          icon: "success",
          title: "General Title",
          animation: false,
          position: "top-right",
          showConfirmButton: false,
          timer: 1500,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener("mouseenter", Swal.stopTimer);
            toast.addEventListener("mouseleave", Swal.resumeTimer);
          },
        });
        toastMixin.fire({
          animation: true,
          title: "Address saved",
        });
      },
    });
  }
</script>

<script>
  function showAddress(house, street, district, state, pincode, mobile) {
    console.log(house, street, district, state, pincode, mobile);
    document.getElementById("house").value = house;
    document.getElementById("street").value = street;
    document.getElementById("district").value = district;
    document.getElementById("state").value = state;
    document.getElementById("pincode").value = pincode;
    document.getElementById("mobile").value = mobile;
  }
</script>

<script>
  function redeemCoupon() {
    let coupon = document.getElementById("couponValue").value;
    let Total = document.getElementById("total").innerHTML;
    let grandTotal = Total - coupon;
    $.ajax({
      url: "/checkCoupon",
      data: {
        coupon: coupon,
      },
      method: "post",
      success: (response) => {
        if (!response.used) {
          document.getElementById(
            "couponPrice"
          ).innerHTML = `Redeemed ₹ ${coupon} from ${Total}`;
          document.getElementById(
            "grandTotal"
          ).innerHTML = `Grand Total : ₹ ${grandTotal}`;
        } else {
          document.getElementById("used").innerHTML =
            "You have already redeemed this coupon";
          document.getElementById("couponValue").value = 0;
        }
      },
    });
    // let coupon = document.getElementById("couponValue").value;
  }
</script>
