<section class="pt-5" style="background-color: #eaddbf">
  <div class="container">
    <!-- class = "column" -->
    <div class="row main-container">
      <div class="col-md-2 col-sm-12 p-5">
        <div class="column">
          <div class="row d-md-flex flex-md-column flex-sm-row slides">
            <div class="col pb-2">
              <% const id1 = prod._id %> <% const id2 = prod._id+"a" %> <% const
              id3 = prod._id+"b" %> <% const id4 = prod._id+"c" %>
              <img
                src="/users/productImages/<%= id1%>.jpg"
                class="img-thumbnail p-0 image"
                alt="..."
                style="cursor: pointer"
              />
            </div>
            <div class="col pb-2">
              <img
                src="/users/productImages/<%= id2%>.jpg"
                class="img-thumbnail p-0 image"
                alt="..."
                style="cursor: pointer"
              />
            </div>
            <div class="col pb-2">
              <img
                src="/users/productImages/<%= id3%>.jpg"
                class="img-thumbnail p-0 image"
                alt="..."
                style="cursor: pointer"
              />
            </div>
            <div class="col">
              <img
                src="/users/productImages/<%= id4%>.jpg"
                class="img-thumbnail p-0 image"
                alt="..."
                style="cursor: pointer"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-4 col-sm-12 d-flex align-items-center big-image"
        id="img-container-main"
      >
        <img
          src="/users/productImages/<%= prod._id%>.jpg"
          class="rounded"
          alt="Image not working"
          style="cursor: pointer"
        />
      </div>
      <div class="col-md-6 col-sm-12 p-5">
        <h1 class="mb-5"><%= prod.Category%>'s Dress Collection</h1>
        <p>Name: <b><%= prod.Name%></b></p>
        <p>Category: <b><%= prod.Category%></b></p>
        <p>Sub-category: <b><%= prod.Subcategory%></b></p>
        <p>
          Price: <strike>₹ <%= prod.Price %></strike>
          <b>₹ <%= prod.OfferPrice %></b> (<%= prod.Offer %> % offer)
        </p>
        <div>
          <div class="d-flex">
            <p>Description:</p>
            <p class="ms-4" align="justify">
              <%= prod.Description%> $$$$$ Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Consectetur, eaque! Ab itaque
              deleniti facilis cum iste eos atque est, tenetur unde fugit
              voluptatibus. Suscipit sapiente consectetur inventore minus,
              blanditiis natus sint eum sit molestias debitis earum recusandae
              iste dolores, dolore quibusdam fuga eaque architecto excepturi.
              Est vel aperiam provident sed deserunt aliquam aliquid, sunt
              exercitationem hic aspernatur iure odio assumenda. Vitae quisquam
              dicta quis recusandae pariatur magni impedit neque reiciendis
              minima omnis iure aperiam nulla, odit eaque id illum a voluptas
              aliquam? Perspiciatis, reiciendis velit maiores excepturi nulla
              provident aut similique dolorem voluptas, error veniam repudiandae
              a minus recusandae sit!
            </p>
          </div>
          <div class="d-flex">
            <button
              class="fa-regular fa-heart btn btn-outline-dark btn-lg me-3"
              onclick="addToWishlist('<%= prod._id %>')"
            ></button>
            <button
              class="fa-solid fa-cart-shopping btn btn-outline-dark btn-lg"
              onclick="addToCart('<%= prod._id %>')"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  var options = {
    width: 430,
    height: 540,
    zoomWidth: 500,
    offset: { vertical: 10, horizontal: 50 },
  };
  new ImageZoom(document.getElementById("img-container-main"), options);
</script>
<script>
  $(document).ready(function () {
    $(".main-container .slides .image").click(function () {
      var $smallImages = $(this).attr("src");
      $(".main-container .big-image > img").attr("src", $smallImages);
    });
  });
</script>

<script
  text="text/javascript"
  src="/users/javascript/countIncrement.js"
></script>
