<section class="pt-5 page-fill" style="background-color: #ece6d9">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              src="/users/images/logos/userLogo.png"
              alt="avatar"
              class="rounded-circle img-fluid"
              style="width: 150px"
            />
            <h5 class="my-3"><%=user.username %></h5>
            <% if (locals.user.addresses.length>=1) {%>
            <p class="text-muted mb-4">
              <%=user.addresses[0].house %>, <%=user.addresses[0].street %>,
              <%=user.addresses[0].district %>, <%=user.addresses[0].state %>
            </p>
            <% } %>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fa-solid fa-cart-shopping text-warning"></i>
                <a
                  href="/cart"
                  class="mb-0 text-dark"
                  style="text-decoration: none"
                  >Cart</a
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fa-solid fa-sort" style="color: #333333"></i>
                <a
                  href="/orders"
                  class="mb-0 text-dark"
                  style="text-decoration: none"
                  >Orders</a
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fa-solid fa-heart" style="color: red"></i>
                <a
                  href="/wishlist"
                  class="mb-0 text-dark"
                  style="text-decoration: none"
                  >Wishlist</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  <%=user.firstname %> <%=user.lastname %>
                </p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9 d-flex">
                <p class="text-muted mb-0" id="original"><%= user.email %></p>
                <a
                  class="text-decoration-none"
                  onclick="editEmail('<%=user._id%>')"
                >
                  &nbsp;<i class="fa-solid fa-pen-to-square"></i>
                </a>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9 d-flex">
                <p class="text-muted mb-0" id="orgPhone">
                  <%= user.mobilenumber %>
                </p>
                <a
                  class="text-decoration-none"
                  onclick="editMobile('<%=user._id%>')"
                >
                  &nbsp;<i class="fa-solid fa-pen-to-square"></i>
                </a>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <% if (locals.user.addresses.length>=1) {%>
                <p class="text-muted mb-0">
                  <%=user.addresses[0].house %>, <%=user.addresses[0].street %>,
                  <%=user.addresses[0].district %>, <%=user.addresses[0].state
                  %>
                </p>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4">
                  <span class="text-primary font-italic me-1">All</span>
                  addresses
                </p>
                <% if (locals.user.addresses.length>=1) {%> <% let no = 1 %> <%
                user.addresses.forEach((address)=>{ %>
                <p class="text-muted mb-0">
                  <span class="me-3"><%= no++ %></span> <%=address.house %>,
                  <%=address.street %>, <%=address.district %>, <%=address.state
                  %>, <%=address.pincode %>
                  <span>
                    <button
                      class="btn"
                      onclick="deleteAddress('<%=user._id%>','<%=address.house %>')"
                    >
                      <i class="fa-solid fa-eraser"></i></button
                  ></span>
                </p>
                <hr />
                <% }) %> <% } %>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4">
                  <span class="text-primary font-italic me-1">Add</span>
                  address
                </p>
                <form id="add-address">
                  <div
                    class="row d-flex justify-content-center align-items-center"
                  >
                    <div>
                      <!-- <textarea
                            class="form-control mb-2"
                            id="address"
                            name="address"
                            cols="20"
                            rows="5"
                            placeholder="Address"
                            style="background-color: #dbdbdb"
                            required
                          ></textarea> -->
                      <div class="d-flex">
                        <input
                          class="form-control mb-2 me-1"
                          id="house"
                          name="house"
                          placeholder="House"
                          type="text"
                          style="background-color: #eeeeee"
                          required
                        />
                        <input
                          class="form-control mb-2 ms-1"
                          id="street"
                          name="street"
                          placeholder="Street"
                          type="text"
                          style="background-color: #eeeeee"
                          required
                        />
                      </div>
                      <div class="d-flex">
                        <select
                          class="form-select mb-2 me-1"
                          name="district"
                          id="district"
                          aria-label="Default select example"
                          style="background-color: #eeeeee"
                        >
                          <option>Thiruvananthapuram</option>
                          <option>Kollam</option>
                          <option>Pathanamthitta</option>
                          <option>Alappuzha</option>
                          <option>Kottayam</option>
                          <option>Idukki</option>
                          <option>Ernakulam</option>
                          <option>Thrissur</option>
                          <option>Palakkad</option>
                          <option>Malappuram</option>
                          <option>Kozhikode</option>
                          <option>Wayanad</option>
                          <option>Kannur</option>
                          <option>Kasargod</option>
                        </select>
                        <input
                          class="form-control mb-2 ms-1"
                          id="state"
                          name="state"
                          placeholder="State"
                          type="text"
                          style="background-color: #eeeeee"
                          required
                        />
                      </div>
                      <input
                        type="text"
                        name="userId"
                        id="userId"
                        class=""
                        value="<%=user._id  %>"
                        hidden
                      />
                      <input
                        class="form-control mb-2"
                        id="pincode"
                        name="pincode"
                        placeholder="Pincode"
                        type="number"
                        style="background-color: #eeeeee"
                        required
                      />
                      <input
                        class="form-control mb-2"
                        id="mobile"
                        name="mobile"
                        placeholder="Mobile"
                        type="number"
                        style="background-color: #eeeeee"
                        required
                      />
                      <div class="text-end mb-2">
                        <button class="btn btn-outline-success text-end">
                          Save
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
></script>

<script>
  $("#add-address").validate({
    rules: {
      house: {
        required: true,
      },
      street: {
        required: true,
      },
      district: {
        required: true,
      },
      state: {
        required: true,
      },
      pincode: {
        minlength: 6,
        maxlength: 6,
        required: true,
      },
      mobile: {
        minlength: 10,
        maxlength: 10,
        required: true,
      },
    },
    messages: {
      house: {
        required: "Enter house name",
      },
      street: {
        required: "Enter street name",
      },
      district: {
        required: "Enter the district",
      },
      state: {
        required: "Enter the state",
      },

      pincode: {
        minlength: "Pincode should be of 6 digits",
        maxlength: "Pincode is not valid",
        required: "Please enter your pincode",
      },

      mobile: {
        minlength: "Mobile number should be of 10 digits",
        maxlength: "Number is not valid",
        required: "Please enter your mobile number",
      },
    },

    submitHandler: function (form) {
      $.ajax({
        url: "/saveAddress",
        data: $(form).serialize(),
        method: "post",
        success: (response) => {
          console.log(response);
          var toastMixin = Swal.mixin({
            toast: true,
            icon: "success",
            title: "General Title",
            animation: false,
            position: "top-right",
            showConfirmButton: false,
            timer: 1500,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener("mouseenter", Swal.stopTimer);
              toast.addEventListener("mouseleave", Swal.resumeTimer);
            },
          });
          toastMixin.fire({
            animation: true,
            title: "Address saved",
          });
          const timeOut = setTimeout(reloadPage, 1500);

          function reloadPage() {
            location.reload();
            clearTimeout(timeOut);
          }
        },
      });
    },
  });
</script>

<script>
  function deleteAddress(userId, house) {
    $.ajax({
      url: "/deleteAddress",
      data: {
        userId,
        house,
      },
      method: "post",
      success: (response) => {
        console.log(response);
        var toastMixin = Swal.mixin({
          toast: true,
          icon: "success",
          title: "General Title",
          animation: false,
          position: "top-right",
          showConfirmButton: false,
          timer: 1500,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener("mouseenter", Swal.stopTimer);
            toast.addEventListener("mouseleave", Swal.resumeTimer);
          },
        });
        toastMixin.fire({
          animation: true,
          title: "Address removed",
        });
        location.reload();
      },
    });
  }
</script>

<script>
  function editEmail(userId) {
    const oldEmail = document.getElementById("original").innerHTML;
    console.log(oldEmail);
    Swal.fire({
      title: "New Email",
      html: `<input type="text" id="email" class="swal2-input" placeholder= ${oldEmail}>`,
      confirmButtonText: "Update",
      focusConfirm: false,
      preConfirm: () => {
        const email = Swal.getPopup().querySelector("#email").value;
        let validateEmail = (email) => {
          return String(email)
            .toLowerCase()
            .match(
              /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            );
        };
        const checked = validateEmail(email);
        console.log(checked);
        console.log(userId, email);
        if (!checked) {
          Swal.showValidationMessage(`Enter a valid email eg: abc@gmail.com`);
        } else {
          $.ajax({
            url: "/editEmail",
            data: {
              userId,
              email,
            },
            method: "post",
            success: (response) => {
              if (response.updated) {
                var toastMixin = Swal.mixin({
                  toast: true,
                  icon: "success",
                  title: "General Title",
                  animation: false,
                  position: "top-right",
                  showConfirmButton: false,
                  timer: 1500,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                    toast.addEventListener("mouseenter", Swal.stopTimer);
                    toast.addEventListener("mouseleave", Swal.resumeTimer);
                  },
                });
                document.getElementById("original").innerHTML = email;
                toastMixin.fire({
                  animation: true,
                  title: "Email updated",
                });
              }
            },
          });
        }
      },
    });
  }
</script>

<script>
  function editMobile(userId) {
    const oldPhone = document.getElementById("orgPhone").innerHTML;
    console.log(oldPhone);
    Swal.fire({
      title: "New Mobile",
      html: `<input type="text" id="mobile" class="swal2-input" placeholder= ${oldPhone}>`,
      confirmButtonText: "Update",
      focusConfirm: false,
      preConfirm: () => {
        const mobile = Swal.getPopup().querySelector("#mobile").value;
        let validateMobile = (mobile) => {
          return String(mobile)
            .toLowerCase()
            .match(/^\d{10}$/);
        };
        const checked = validateMobile(mobile);
        console.log(checked);
        console.log(userId, mobile);
        if (!checked) {
          Swal.showValidationMessage(`Enter a valid number (10 digits)`);
        } else {
          $.ajax({
            url: "/editMobile",
            data: {
              userId,
              mobile,
            },
            method: "post",
            success: (response) => {
              if (response.updated) {
                var toastMixin = Swal.mixin({
                  toast: true,
                  icon: "success",
                  title: "General Title",
                  animation: false,
                  position: "top-right",
                  showConfirmButton: false,
                  timer: 1500,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                    toast.addEventListener("mouseenter", Swal.stopTimer);
                    toast.addEventListener("mouseleave", Swal.resumeTimer);
                  },
                });
                document.getElementById("orgPhone").innerHTML = mobile;
                toastMixin.fire({
                  animation: true,
                  title: "Mobile updated",
                });
              }
            },
          });
        }
      },
    });
  }
</script>
