<section class="page-fill" style="background-color: #eaddbf">
    <div style="padding-top: 5%; padding-bottom: 5%;">
      <div class="container shadow-lg rounded pb-2 pt-2">
        <div class="row d-flex pb-2"><i class="fa-solid fa-heart fa-4x" ><span style="font-size: 23%;" >wishlist</span></i></div>
          <table
            class="table table-fluid table-hover table-bordered mt-5 pt-2"
            id="myTable"
          >
            <!-- style="text-align: center" -->
            <thead>
              <tr class="bg-dark text-white">
                <th scope="col" style="text-align: center">No</th>
                <th scope="col" style="text-align: center">Item</th>
                <th scope="col" style="text-align: center">Title</th>
                <th scope="col" style="text-align: center">Price</th>
                <!-- <th scope="col" style="text-align: center">Quantity</th> -->
                <th scope="col" style="text-align: center">Add to Cart</th>
                <th scope="col" style="text-align: center">Remove</th>               
              </tr>
            </thead>
            <% var No=1 %>
            <tbody style="text-align: center">
              <% locals.products.forEach(wishlistItem=>{%>
              <tr>
                <th scope="row"><%=No++ %></th>

                <td>
                  <img
                    style="width: 40px; height: 50px"
                    src="/users/productImages/<%=wishlistItem.product._id %>.jpg "
                    alt=""
                  />
                </td>
                <td><%=wishlistItem.product.Name %></td> 
                <td><%=wishlistItem.product.Price %></td> 

                <!-- <td><button class="card-item-count btn btn-outline-secondary m-1"onclick="changeWishlistQuantity('<=wishlistItem._id%>','<=wishlistItem.product._id %>',-1)"><i class="fa-solid fa-minus"></i><button class="btn btn-outline-dark m-1" id="<=wishlistItem.product._id %>"><=wishlistItem.quantity %><button class="card-item-count btn btn-outline-secondary m-1" onclick="changeWishlistQuantity('<=wishlistItem._id%>','<=wishlistItem.product._id %>',1)"><i class="fa-solid fa-plus"></i>
                </button></td> -->
                <td>
                  <button
                    class="btn btn-outline-success" onclick="wishlistToCart('<%=wishlistItem.product._id%>','<%=wishlistItem.product.Name %>','<%=wishlistItem._id%>')"
                    ><i class="fa-solid fa-cart-shopping"></i></i></button>
                </td>
                <td>
                  <a
                  href="/removeWishlistProduct/<%=wishlistItem._id%>/<%=wishlistItem.product._id %>"
                  class="btn btn-outline-danger removeProduct"
                  ><i class="fa-solid fa-trash"></i></a>
                </td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
    </div>
  </section>
  
  <!-- onclick="return confirm('Do you want to delete product.Name ?')" -->
  
  <script>
    $(".removeProduct").on("click", function (e) {
      e.preventDefault();
      var self = $(this);
      console.log(self.data("title"));
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, remove it!",
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire("Deleted!", ` Product has been removed`, "success");
          location.href = self.attr("href");
        }
      });
    });
  </script>

<script>
  function changeWishlistQuantity(wishlstId,proId,count){
    let quantity=parseInt(document.getElementById(proId).innerHTML)
 
    $.ajax({
      url:'/changeWishlistProductQuantity',
      data:{
        wishlist:wishlstId,
        product:proId,
        count:count,
        quantity:quantity
      },
      method:'post',
      success:(response)=>{
        if(response.removeProduct){
          let timerInterval
Swal.fire({
  title: 'Removing product from wishlist',
  html: 'Removing in <b></b> milliseconds.',
  timer: 500,
  background: "#ded2af",
  timerProgressBar: true,
  didOpen: () => {
    Swal.showLoading()
    const b = Swal.getHtmlContainer().querySelector('b')
    timerInterval = setInterval(() => {
      b.textContent = Swal.getTimerLeft()
    }, 100)
  },
  willClose: () => {
    clearInterval(timerInterval)
  }
}).then((result) => {
  /* Read more about handling dismissals below */
  if (result.dismiss === Swal.DismissReason.timer) {
    console.log('I was closed by the timer')
  }
})
          location.reload();
        }else{
          document.getElementById(proId).innerHTML=quantity+count
        }
      }
    })
  }
</script>

<script>
  function wishlistToCart(proId,prodName,wishlistId){

    $.ajax({
      url:'/wishlistToCart',
      data:{
        product:proId,
        wishlist:wishlistId,
      },
      method:'post',
      success:(response)=>{
        if(response.productAdded){
          console.log("Product added successfully")
        //   let cartCount = $("#cart-count").html();
        // cartCount = parseInt(cartCount) + 1;
        // $("#cart-count").html(cartCount);
        let wishlistCount = $("#wishlist-count").html();
        wishlistCount = parseInt(wishlistCount) - 1;
        $("#wishlist-count").html(wishlistCount);
//           Swal.fire({
//   position: 'top-end',
//   icon: 'success',
//   title: 'Product added to cart',
//   showConfirmButton: false,
//   timer: 1500
// })
// const timeOut = setTimeout(reload,1200);

// function reload(){
  location.reload()
//   clearTimeout(timeOut);
// }
        }else{
          console.log("Product exists but removed successfully")
          let wishlistCount = $("#wishlist-count").html();
        wishlistCount = parseInt(wishlistCount) - 1;
        $("#wishlist-count").html(wishlistCount);
           
// Swal.fire(`${prodName} exists in cart`)
// const timeOut = setTimeout(reload,600);

// function reload(){
  location.reload()
//   clearTimeout(timeOut);
// }
        }
      }
    })
  }
</script>
  
<!-- <script>

  function removeWishlistProduct(wishlistId,proId){
    $.ajax({
    url:"/removeWishlistProduct",
    data:{
      wishlist:wishlistId,
      product:proId,
    },
    method:'post',
    success:(response)=>{
      
    }

  })

  }
 
</script> -->